{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": true
                }
            }
        ],
        "typescript"
    ]
}